.all-nav
  %header
    = render partial: 'shared/main-header'
  %main
    .background
      %div
        %h2
          スマホでかんたん
          %br>/
          フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br>/
          購入時も安心な独自システムのアプリです
        .store__left
          = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "blank" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2508029365"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "blank" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2508029365"
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2508029365" , class: "back"
  %section.pickup
    %h2.pickup__head 商品一覧
    %section.pickup__container
      = render partial: 'shared/products', locals: { type: @category1, products: @products1 }
        
    %section.pickup__container
      = render partial: 'shared/products', locals: { type: @category2, products: @products2 }

    %section.pickup__container
      = render partial: 'shared/products', locals: { type: @category3, products: @products4 }

    %section.pickup__container
      = render partial: 'shared/products', locals: { type: @category4, products: @products4 }

  %section.pickup
    %h2.pickup__head ピックアップブランド
    %section.pickup__container
      = render partial: 'shared/products', locals: { type: @brand1, products: @products5 }
      
    %section.pickup__container
      = render partial: 'shared/products', locals: { type: @brand2, products: @products6 }
      
    %section.pickup__container
      = render partial: 'shared/products', locals: { type: @brand3, products: @products7 }

    %section.pickup__container
      = render partial: 'shared/products', locals: { type: @brand4, products: @products8 }
      
  %aside.banners-nav
    .banners
      .banners__left
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .banners__left--icon
          %figure
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2508029365", width: "68"
          %ul.clearfix
            %li
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "blank" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2508029365",  size: "133*40"
            %li
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "blank" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2508029365",  size: "133*40"
      %figures
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2508029365"
  %footer
    = render partial: 'shared/footer'
  = render partial: 'shared/camera'
  




