.all-nav
  = render partial: 'shared/header'
              
  %main
    .background
      %div
        %h2
          スマホでかんたん
          %br>/
          フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br>/
          購入時も安心な独自システムのアプリです
        .store__left
          = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "blank" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2508029365"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "blank" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2508029365"
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2508029365" , class: "back"
  %section.pickup
    %h2.pickup__head ピックアップカテゴリー
    %section.pickup__container
      %h3.pickup__container--text-center
        = link_to "レディース 新着アイテム", "/jp/category/1/"
      .pickup__container--content
        - @images.each do |image|
          %section.item
            %figure.item__photo
              = image_tag image.name, alt: "実装その1", class: "lazyload"
            .item__body
              %h3.item__body--name.font-2 
                = image.product.name
              .item__body--num
                .price.font-5 
                  ¥
                  = image.product.price
      .view-all
        = link_to("すべての商品を見る", "/jp/category/1/")
    %section.pickup__container
      %h3.pickup__container--text-center
        = link_to("メンズ 新着アイテム", "/jp/category/2/")
      .pickup__container--content
        - @images.each do |image|
          %section.item
            %figure.item__photo
              = image_tag image.name, alt: "実装その1", class: "lazyload"
            .item__body
              %h3.item__body--name.font-2 
                = image.product.name
              .item__body--num
                .price.font-5 
                  ¥
                  = image.product.price
      .view-all
        = link_to("すべての商品を見る", "/jp/category/2/")
    %section.pickup__container
      %h3.pickup__container--text-center
        = link_to(" ベビー・キッズ 新着アイテム", "/jp/category/3/")
      .pickup__container--content
        - @images.each do |image|
          %section.item
            %figure.item__photo
              = image_tag image.name, alt: "実装その1", class: "lazyload"
            .item__body
              %h3.item__body--name.font-2 
                = image.product.name
              .item__body--num
                .price.font-5 
                  ¥
                  = image.product.price
      .view-all
        = link_to("すべての商品を見る", "/jp/category/3/")
    %section.pickup__container
      %h3.pickup__container--text-center
        = link_to("コスメ・香水・美容 新着アイテム", "/jp/category/6/")
      .pickup__container--content
        - @images.each do |image|
          %section.item
            %figure.item__photo
              = image_tag image.name, alt: "実装その1", class: "lazyload"
            .item__body
              %h3.item__body--name.font-2 
                = image.product.name
              .item__body--num
                .price.font-5 
                  ¥
                  = image.product.price
      .view-all
        = link_to("すべての商品を見る", "/jp/category/6/")
  %section.pickup
    %h2.pickup__head ピックアップブランド
    %section.pickup__container
      %h3.pickup__container--text-center
        = link_to 'シャネル 新着アイテム', "/jp/brand/658/"
      .pickup__container--content
        - @images.each do |image|
          %section.item
            %figure.item__photo
              = image_tag image.name, alt: "実装その1", class: "lazyload"
            .item__body
              %h3.item__body--name.font-2 
                = image.product.name
              .item__body--num
                .price.font-5 
                  ¥
                  = image.product.price
      .view-all
        = link_to("すべての商品を見る", "/jp/category/6/")
    %section.pickup__container
      %h3.pickup__container--text-center
        = link_to("ルイ ヴィトン 新着アイテム", "/jp/brand/1326/")
      .pickup__container--content
        - @images.each do |image|
          %section.item
            %figure.item__photo
              = image_tag image.name, alt: "実装その1", class: "lazyload"
            .item__body
              %h3.item__body--name.font-2 
                = image.product.name
              .item__body--num
                .price.font-5 
                  ¥
                  = image.product.price
      .view-all
        = link_to("すべての商品を見る", "/jp/category/6/")
    %section.pickup__container
      %h3.pickup__container--text-center
        = link_to("シュプリーム 新着アイテム", "/jp/brand/1620/")
      .pickup__container--content
        - @images.each do |image|
          %section.item
            %figure.item__photo
              = image_tag image.name, alt: "実装その1", class: "lazyload"
            .item__body
              %h3.item__body--name.font-2 
                = image.product.name
              .item__body--num
                .price.font-5 
                  ¥
                  = image.product.price
      .view-all
        = link_to("すべての商品を見る", "/jp/category/6/")
    %section.pickup__container
      %h3.pickup__container--text-center
        = link_to("ナイキ 新着アイテム", "/jp/brand/857/")
      .pickup__container--content
        - @images.each do |image|
          %section.item
            %figure.item__photo
              = image_tag image.name, alt: "実装その1", class: "lazyload"
            .item__body
              %h3.item__body--name.font-2 
                = image.product.name
              .item__body--num
                .price.font-5 
                  ¥
                  = image.product.price
      .view-all
        = link_to("すべての商品を見る", "/jp/category/6/")
  %aside.banners-nav
    .banners
      .banners__left
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .banners__left--icon
          %figure
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2508029365", width: "68"
          %ul.clearfix
            %li
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "blank" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2508029365",  size: "133*40"
            %li
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "blank" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2508029365",  size: "133*40"
      %figures
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2508029365"
  = render partial: 'shared/footer'
  = render partial: 'shared/camera'
  




