.all-nav
  %header
    = render partial: 'shared/main-header'
  .search-container
    = render partial: 'shared/search-side'
    = render partial: 'shared/search-list'
    %h2.root 
      メルカリ >
      = params[:keyword]
  %footer
    = render partial: 'shared/footer'
  = render partial: 'shared/camera'