%header
  = render 'shared/sub-header'

%section
  - breadcrumb :listing_product
  = render 'shared/breadcrumb'

- flash.each do |message_type, message|
  %div{class: "flash #{message_type}"}= message

.mypage-main
  = render 'shared/mypage-side-menu'

  .mypage
    %section.tab-head
      %h2.tab-head__text
        出品した商品

    %section.tab-container
      %ul.tab-container__list
        %li.tab-container__list__item.active--purchased
          = link_to '出品中', listing_product_user_mypage_path, class: "tab-container__list__item__text"
        %li.tab-container__list__item
          = link_to '取引中', "#", class: "tab-container__list__item__text"
        %li.tab-container__list__item
          = link_to '売却済み', "#", class: "tab-container__list__item__text"
    
    - if @products.present?
      %section.listing-product
        = render partial: "product", collection: @products
    - else
      %section.tab-contents
        %ul.trade-list.show--purchased
          %li.trade-list__item
            %section.not-found
              = image_tag "logo-gray.png", class: 'not-found__icon'
              .not-found__text
                出品中の商品がありません

    -# 暫定的に出品した商品ページで商品削除を実装しています
    = link_to 'この商品を削除する', product_path(current_user), class: "product_delete_btn", id: "product_delete_btn", method: :delete
