- flash.each do |message_type, message|
  %div{class: "flash #{message_type}"}= message

%header
  = render 'shared/sub-header'

%section
  - breadcrumb :mypage
  = render 'shared/breadcrumb'

.mypage-main
  = render 'shared/mypage-side-menu'

  .mypage
    %section.user-info
      = link_to request.fullpath, class: "user-info__btn" do
        = image_tag "user-icon.png", class: 'user-info__btn__icon'
        %h2.user-info__btn__nickname
          = current_user.nickname
        .user-info__btn__number
          %p.user-info__btn__number__text
            評価 
            %span.user-info__btn__number__text__count
              0
          %p.user-info__btn__number__text
            出品数
            %span.user-info__btn__number__text__count
              = @listing_product.count
    .notice-todo
      = render 'norice-todo'

    .purchased
      = render 'purchased', { buyed_products: @buyed_products, past_trade_products: @past_trade_products }
      