%header
  = render 'shared/sub-header'

%section
  .login_panel
    .no-account
      %p アカウントをお持ちでない方はこちら
      =link_to new_signup_path, class: "no-account__btn" do
        .no-account__btn__signup
          新規会員登録
    .login-method
      =link_to "#", class: "fb-login" do
        .fb-login__btn
          = fa_icon 'facebook-square'
          .fb-login__btn__name
            Facebookでログイン
      =link_to "#", class: "google-login" do  
        .google-login__btn
          = image_tag 'https://img.icons8.com/color/48/000000/google-logo.png', alt: 'google-icon', class: 'google-login__btn__icon'
          Googleでログイン

    .login-input
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-input__mail
          = f.email_field :email,placeholder:"メールアドレス",class:"login-input__form"
        .login-input__pass
          = f.password_field :password,placeholder:"パスワード",class:"login-input__form"
        .login-input__recapcha
          = image_tag 'robo.new.png',class: "login-input__recapcha__image"
        .entry-bottom__next
          = f.submit "ログイン", class: "entry-bottom__next__btn"
        .login-pass__lost
          = link_to 'パスワードをお忘れの方', 'devise/shared/links', class:"login-pass__lost__here"

%footer
  = render 'shared/sub-footer'