%header
  = render 'shared/sub-header'
%section
  .buy-comfi
    .buy-comfi__title
      購入内容の確認
    .buy-comfi__body
      .body-item
        .body-item__image
          = image_tag "#{@image.name}", height: '80', width: '70'
        .body-item__title
          = "#{@product.name}"
      .body-payment
        .body-payment__item
          .body-payment__item__price
            = "¥""#{@product.price}"
          .body-payment__item__postage
            送料込み
        .body-payment__point
          .body-payment__point__btn
            ポイントはありません
        .body-payment__price
          .body-payment__price__text
            支払い金額
          .body-payment__price__total
            = "¥""#{@product.price}"
        =link_to "#", class: "body-payment" do  
          .body-payment__buy
            .body-payment__buy__btn
              購入する
    .address
      .address__box
        .address__box__title
          配送先
        .address__box__input
          .address__box__input__postcode
          = "〒""#{@delivery_addresses.postcode}"
          .address__box__input__address
          = "#{@delivery_addresses.prefecture.name}"
          = "#{@delivery_addresses.city}"
          = "#{@delivery_addresses.block}"
          = "#{@delivery_addresses.building}"
          .address__box__input__name
          = current_user.last_name 
          = current_user.first_name
        .address__box__change
          変更する
          =fa_icon'chevron-right'
    .payment-card
      .payment-card__box
        .payment-card__box__title
          支払い方法
        .payment-card__box__input
          .payment-card__box__input__number
          = "**** **** **** " + @default_card_information.last4
          .payment-card__box__input__date
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          .payment-card__box__input__image
            = image_tag "#{@card_src}", width: '40', height: '20', alt: @card_brand, id: "card_image"
        .payment-card__box__change
          変更する
          =fa_icon'chevron-right'
%footer
  = render 'shared/sub-footer'