!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample52w
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    / Anti-flicker snippet
    
  
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title メルカリ スマホでかんたん フリマアプリ
    
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel: "stylesheet"}/
    %script{src: "https://kit.fontawesome.com/cec9ead5be.js"}
    %a{href: "https://use.fontawesome.com/releases/v5.0.6/js/all.js"} 

  %body
    = yield
